@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&family=Roboto+Mono:wght@600&display=swap');

*{
    font-family: 'Roboto Mono', monospace;
}
html, body{
    background-color: white;
    margin: 40px 0 40px 0;
    padding: 0;
}
b{
    color: #0043f6;
}
ul{
    list-style-type: none;
    padding-left: 0;
    text-align: center;
}
p.text{
    font-size: 1.5rem;
    color: black;
}
div.paragraphs{
    text-align: center;
    margin: auto;
    padding: 1rem;
    width: 90%;
    border: solid 2px black;
}
.a{
    text-decoration: none;
    color: black;
}
.a:hover{
    color: #0043f6;
}
li .a:hover{
    color: #0043f6;
    font-size: 1.3rem;
}
textarea{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.5rem;
    background-color: white;
    border-style: solid;
    border-color: black;
    color: black;
    margin-bottom: 1rem;
}
.btn{
    display: block;
    margin-right: auto;
    margin-left: auto;
    border: solid 2px black;
    background-color: white;
    color: black;
}
.btn:hover{
    color: #0043f6;
}

@media screen and (max-width:900px){
    div.paragraphs{
        text-align: center;
        margin: auto;
        padding: 0 2rem;
        width: auto;
    }
}